.star-rating {
  display: flex;
  justify-content: center;
  align-items: center;
}

.star {
  transition: color 200ms;
}

.star-rating input {
  color: var(--deepSpaceAccent-clr);
  display: none;
}
