.spotlist-container {
  max-width: 1200px;
  width: 95%;
  padding: 0px 10px;
  margin: 30px auto;
}

.category-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin: 10px auto 40px;
}

.category-choice {
  text-align: center;
  color: #484848;
}

.category-choice:hover {
  cursor: pointer;
  color: #ff5a60;
}

.category-choice svg {
  font-size: 1.5rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  gap: 20px;
  align-items: start;
}

.spotlist_small_container {
  min-height: 16em;
  width: 100%;
  overflow: hidden;
}

.spotlist_small_container_link {
  text-decoration: none;
  color: black;
}

.spotlist_small_container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 4 / 3;
  border-radius: 15px;
}

.spotlist_small_container h4 {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  bottom: 230px;
  text-align: center;
  font-weight: 550;
}

.no-show {
  color: white;
}

.spotlist_preview {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.spotlist_preview_price {
  font-weight: 550;
}

.current_spotlist_container {
  max-width: 1200px;
  margin: 20px auto;
  margin-bottom: 70px;
  padding: 0px 10px;
}

.current_image_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  gap: 20px;
}

.current_spotlist_buttons {
  display: flex;
  justify-content: space-around;
  margin: 10px auto;
}

.current_spotlist_container a {
  text-decoration: none;
}

.manage-header {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}

.manage_spot_info {
  padding: 10px 20px 0px 20px;
}

.manage_spot_info p {
  font-weight: 500;
}

.manage_spot_place {
  display: flex;
  justify-content: space-between;
}

.manage-spot-price {
  display: flex;
  justify-content: end;
  gap: 3px;
}

.current_spotlist_container button {
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ff5a60;
  width: 200px;
  margin: 5px 0px 20px;
}

.current_spotlist_container button:hover {
  cursor: pointer;
  background-color: #fb7a7e;
}

.current_spotlist_buttons button {
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  background-color: #ff5a60;
  width: 40%;
}

.current_spotlist_buttons button:hover {
  cursor: pointer;
  background-color: #fb7a7e;
}
