.spotlist_small_container {
  width: 200px;
  margin: 20px 20px 10px 0px;
}

.spotlist_small_container_link {
  text-decoration: none;
  color: black;
}

.spotlist_small_container img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 15px;
}

.spotlist_small_container h4 {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  bottom: 190px;
  text-align: center;
  font-weight: 550;
}

.spotlist_preview {
  display: flex;
  justify-content: space-between;
}

.spotlist_preview_price {
  font-weight: 550;
}

.current_spotlist_container {
  margin: 30px 80px;
}

.current_image_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.current_spotlist_buttons {
  display: flex;
  justify-content: space-between;
}

.current_spotlist_container a {
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}
.current_spotlist_container button {
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ff5a60;
  width: 200px;
  margin: 5px 0px 20px;
}

.current_spotlist_buttons button {
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  background-color: #ff5a60;
  width: 40%;
  margin: 10px 5px;
}

.current_spotlist_buttons button:hover {
  cursor: pointer;
  background-color: #fb7a7e;
}
