#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: absolute;
  background-color: white;
  border-radius: 10px;
  padding: 50px;
  text-align: center;
}

.modal-content button {
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  background-color: #ff5a60;
  width: 100%;
  margin-top: 20px;
}

.modal-content button:hover {
  cursor: pointer;
  background-color: #fb7a7e;
}

.modal-content button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  opacity: 0.6;
}

.confirm_deletion p {
  margin-top: 10px;
}

.confirm_deletion > .dark_grey_button {
  background-color: darkgray;
}

.confirm_deletion > .dark_grey_button:hover {
  cursor: pointer;
  background-color: rgb(200, 199, 199);
}
