.spot_form {
  margin: 50px auto;
  width: 50vw;
  padding: 80px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.spot_form form {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 20px auto;
  width: 50vw;
}

.spot_form label {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 5px;
}

.spot_form input {
  width: 48vw;
}

.spot_form textarea {
  width: 48vw;
}

.spot_form h2 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.spot_form button {
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  background-color: #ff5a60;
  margin: 50px auto;
}

.current_spotlist_container button a {
  text-decoration: none;
  color: white;
}

@media (max-width: 768px) {
  .spot_form {
    padding: 30px;
    width: 60vw;
  }

  .spot_form form {
    margin: 10px auto;
    width: 55vw;
  }
}
