.reviewlist_container {
  margin: 30px 0px 50px 0px;
}

.user_container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.user_container img {
  width: 50px;
  border-radius: 50px;
}

.user_container p {
  font-size: 16px;
  font-weight: 500;
}

.review-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.star_container {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
}

.post-review-button {
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  background-color: #ff5a60;
  margin-bottom: 20px;
}

.delete-review-button {
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  background-color: #ff5a60;
}

.post-review-button:hover {
  cursor: pointer;
  background-color: #fb7a7e;
}

.delete-review-button:hover {
  cursor: pointer;
  background-color: #fb7a7e;
}

@media (max-width: 768px) {
  .review-grid {
    display: flex;
    flex-direction: column;
  }

  .media-query {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .user_container img {
    width: 40px;
  }
}
