.profile-dropdown {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
}

.profile-wrapper {
  position: relative;
  width: 100px;
}

.hidden {
  display: none;
}


.nav_ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 20px 30px;
}

#logo a {
  text-decoration: none;
  color: #ff5a60;
  font-size: x-large;
}

.fa-airbnb {
  font-size: x-large;
}
