.profile-wrapper {
  margin-right: 100px;
  width: fit-content;
}

.profile_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.profile-dropdown {
  text-align: end;
  background-color: white;
}

#create_link a {
  text-decoration: none;
  color: #ff5a60;
  font-weight: 500;
  text-wrap: nowrap;
  padding-right: 10px;
}
