.profile-wrapper {
  max-width: 1200px;
  margin: 0px auto;
  margin-right: 60px;
  display: flex;
  justify-content: space-between;
}

.profile_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile_container button {
  border: none;
  padding: 0px;
  color: black;
  background-color: white;
}

.profile_container button:hover {
  cursor: pointer;
}

.profile-dropdown {
  text-align: end;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  z-index: 1000;
  position: relative;
  top: 30px;
  left: -35px;
}

.profile-dropdown * {
  background-color: white;
  margin: 5px;
}

.unclickable {
  font-style: italic;
  color: gray;
}

.clickable a {
  text-decoration: none;
  color: black;
}

.clickable *:hover {
  color: #ff5a60;
}

#create_link {
  margin-right: 10px;
}

#create_link a {
  text-decoration: none;
  color: #ff5a60;
  font-weight: 500;
  text-wrap: nowrap;
}

.user_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  cursor: pointer;
}

.user_icon svg {
  font-size: 1.5rem;
}
