.profile-wrapper {
  margin-right: 100px;
  width: fit-content;
}

.profile_container {
  display: flex;
  text-align: end;
  align-items: center;
}

.profile_container button {
  border: none;
  padding: 0px;
  color: black;
  background-color: white;
}

.profile_container button:hover {
  cursor: pointer;
}

.profile-dropdown {
  text-align: end;
  background-color: white;
  border: 1px solid  lightgray;
  border-radius: 5px;
  z-index: 1;
  margin: 5px;
  padding: 10px;
}

.profile-dropdown * {
  background-color: white;
  margin: 5px;
}

#create_link {
  margin-right: 10px;
}

#create_link a {
  text-decoration: none;
  color: #ff5a60;
  font-weight: 500;
  text-wrap: nowrap;
}

.user_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  cursor: pointer;
}